
<div class="container-fluid" >
    <!-- <div class="row"> -->
        
            <!-- <h1>{{single[0].name}}</h1> -->

            <!-- <h5>{{single[0].details}}</h5> -->
            <div class="card text-center">
               
            <div class="card" style="width: 90.5rem;">
               
                <div class="card-body">
                 
        <div class="col" ><br><br>
            <div class="h1">
               <img src="{{single[0].img}}"  height="500px" width="500px" alt="">
              

            <!-- <img src="{{single[0].img}}" alt= align="center"> -->
        </div>
            <div class="row">
        
                <!-- <h1>{{single[0].name}}</h1> -->
    <div class="h2">
        
                <h5>{{single[0].details}}</h5>
                
            </div>
            </div>
        </div>

        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="order">Place Order</a><div>
   
        </div>
    </div>
    </div>
    </div>