 <!-- Site footer -->
 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> We are committed to offering only the finest and most beautiful floral arrangements and gifts, backed by service that is friendly, helpful and prompt. Our professional staff are dedicated to making your experience a pleasant one because all of our customers are important to us.  We always go the extra mile to make your floral gift perfect.

            Our florists have original, creative and fun ideas about how to make any gift occasion something special for both you and the recipient, whoever they may be and for whatever purpose your gift is for. We also offer a wedding bouquet and wedding function flowers service guaranteed to please.
            
            Our store allow local and international visitors to order flowers .</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
           
            <li><a href="menu">Grandopening Flowers</a></li>
            <li><a href="menu">Valentine's Flowers</a></li>
            <li><a href="menu">Birthday Special Flowers</a></li>
           
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="home">Home</a></li>
            <li><a href="menu">Menu</a></li>
            <li><a href="signup">SignUp</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Bouquet Store</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
          </ul>
        </div>
      </div>
    </div>
</footer>