<div class="banner">
    <div class="content">
   <i><h1 class="mb-3">Everything Blooms <br> In It's Own Time..</h1></i>
    
</div>
</div>
<div class="container mt-5 mb-4">
    <h1 class="text-center ">How do you get   <i><span style="color: var(--primary-color);font-weight: bold;">awesome flowers </span> </i></h1>
    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="stepBox">
                <h1>1</h1>
                <i><p>select flowers</p></i>

            </div>  
        </div>
        <div class="col-lg-4">
            <div class="stepBox">
            <h1>2</h1>
            <i><p>fill the details</p></i>
        </div>
    </div>
        <div class="col-lg-4">
            <div class="stepBox">
            <h1>3</h1>
            <i><p>your order delivered in minutes</p></i>
        </div>
    </div>
    
    </div>
    
    </div>
    